<ul>
    <% @articles.each do |article| %>
    <li>
        <h1><%= link_to article.title, article_path(article)%></h1><br />
    </li>
    <% end %>
</ul>

    

<%= link_to 'New Article', new_article_path %>
<%= link_to 'Sign up', new_user_registration_path %>